<div class="row"><!-- title of room -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2><%= @room.name %></h2>
    <p><%= @room.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><!-- submitted messages -->
    <div id="messages_window" class="border">
      Column of live messages
    </div>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><!-- users in room -->
    Column of chatters online
  </div>
</div>
